<h1>Create Product</h1>
<a class="catalogBack" href="/catalog">Back to Catalog</a>
<form method="post" action="/catalog/create">
    <label><span>Name:</span><input type="text" name="name"></label>
    <label><span>Price:</span><input type="number" name="price"></label>
    <label><span>Promoted:</span><input type="checkbox" name="promoted"></label>
    <input type="submit" value="Create">
</form>